<!DOCTYPE html>
<html>
	<head>
		<title>NHL Props</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="/static/css/nhlteams.css" type="text/css">
		<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.min.js"></script>
		<link href="https://unpkg.com/tabulator-tables@4.9.3/dist/css/tabulator.min.css" rel="stylesheet">
	</head>
	<style>
		body {
			margin: 0;
			font-size: 18px;
			height: 100vh;
		}
		#propsTable {
			width: 100%;
		}
		#tableDiv {
			display: flex;
			justify-content: center;
			height: 85%;
		}
		#header {
			height: 7.5%;
		}
		#footer {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.negative { color: red; }
		.positive { color: green; }
	</style>
	<body>
		<div id="header">
		</div>
		<div id="tableDiv">
			<div id="propsTable">
				<!-- {{table|safe}} -->
			</div>
		</div>
		<div id="footer">
			<button onclick="print();">PRINT</button>
            <button onclick="print('csv');">PRINT CSV</button>
            <button onclick="calculateParlayOdds();">Parlay Odds</button>
		</div>
		<script>
			let TABLE;
			const teamNames = ["All", "ANA", "ARI", "BOS", "BUF", "CAR", "CBJ", "CGY", "CHI", "COL", "DAL", "DET", "EDM", "FLA", "LA", "MIN", "MTL", "NJ", "NSH", "NYI", "NYR", "OTT", "PHI", "PIT", "SEA", "SJ", "STL", "TB", "TOR", "VAN", "VGK", "WPG", "WSH"];

			function print(output = "") {
                let rows = TABLE.getSelectedRows();
                if (rows.length == 0) {
                    rows = TABLE.getRows("active");
                }
                const args = [];
                let s = "";
                const joinChar = (output == "csv") ? "\t" : "|";
                s += ["NAME","TEAM","PROP","LINE","SZN AVG","% OVER","L5 % OVER","LAST 10 GAMES","LAST YR % OVER","OVER", "UNDER"].join(joinChar);
                s += "\n";
                if (output != "csv") {
                    s += ":--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--\n";
                }
                for (row of rows) {
                    const data = row.getData();
                    let overOdds = data.overOdds;
					let underOdds = data.underOdds;
					if (output == "csv") {
						if (parseInt(overOdds) > 0) {
							overOdds = "'"+overOdds;
						}
						if (parseInt(underOdds) > 0) {
							underOdds = "'"+underOdds;
						}
					}
                    s += [data.player, data.team, data.propType, data.line, data.avg, data.totalOver+"%", data.totalOverLast5+"%", data.last5, data.lastTotalOver+"%",overOdds, underOdds].join(joinChar);
                    s += "\n";
                }
                console.log(s);
            }

            function calculateParlayOdds() {
				const rows = TABLE.getSelectedRows();
				let totOdds = 1;
				let out = "";
				for (row of rows) {
					const data = row.getData();
					const avg = (data.totalOverLast5 + data.totalOver) / 2;

					let odds = 0;
					if (avg == 100) {
						odds = -100000;
					} else {
						odds = (100 * avg) / (-100 + avg);
					}
					const decOdds = (100 / odds) + 1;

					totOdds *= decOdds;
					out += [data.player, data.propType, "avg="+avg+"%", odds].join(", ");
					out += "\n";
				}

				out += "totOdds="+totOdds.toFixed(3);
				const usOdds = Math.round((100 / (totOdds-1)));
				out += "\nUS Odds="+usOdds;
				if (usOdds > 0) {
					out += "\nProb="+((100 / (usOdds + 100)) * 100).toFixed(2)+"%";
				} else {
					out += "\nProb="+((-(usOdds) / (-(usOdds) + 100)) * 100).toFixed(2)+"%";
				}
				alert(out);
			}

			function teamFilter(headerValue, rowValue, rowData, filterParams){
				if (headerValue == "All") {
					return true;
				}
				return rowValue.toUpperCase() == headerValue;
			}

			const percentFormatter = function(cell, params, rendered) {
				return cell.getValue()+"%";
			}

			const projFormatter = function(cell, params, rendered) {
				const data = cell.getRow().getData();

				if (parseFloat(data.proj) >= parseFloat(data.line)) {
					return "<div class='positive'>"+data.proj+"</div>";
				}
				return "<div class='negative'>"+data.proj+"</div>";
			}

			const teamFormatter = function(cell, params, rendered) {
				const div = document.createElement("div");
				div.className = cell.getValue().toLowerCase();
				div.innerText = cell.getValue().toUpperCase();
				return div;
			}

			const propFormatter = function(cell, params, rendered) {
				let prop = cell.getValue();
				if (prop == "recv_yd") return "REC YDs";
				else if (prop == "recv_rec") return "RECs";
				else if (prop == "rush_att") return "RUSHs";
				else if (prop == "rush_recv_yd") return "RUSH+REC YDs";
				else if (prop == "rush_yd") return "RUSH YDs";
				else if (prop == "pass_att") return "ATTEMPS";
				else if (prop == "pass_comp") return "COMPs";
				else if (prop == "pass_int") return "INTs";
				else if (prop == "pass_td") return "PASS TDs";
				else if (prop == "pass_yd") return "PASS YDs";
				else if (prop == "recv_rec") return "REC";
				else if (prop == "tackles_combined") return "TACKLES";
				return prop;
			}

			function convertType(type) {
				if (type == "pass_comp") return "pass_cmp";
				else if (type == "recv_rec") return "rec";
				else if (type == "recv_yd") return "rec_yds";
				else if (type == "pass_comp") return "pass_cmp";
				else if (type == "pass_yd") return "pass_yds";
				else if (type == "rush_yd") return "rush_yds";
				return type;
			}

			function renderTable() {
				TABLE = new Tabulator("#propsTable", {
					tooltipsHeader: true,
					ajaxURL: "/getNHLProps",
					//responsiveLayout:"collapse",
					//layout: "fitDataFill",
					//layout: window.innerWidth <= 450 ? "fitData" : "fitColumns",
					//groupBy: "team",
					groupHeader: function(value, count, data, group){
						const playerTxt = count == 1 ? "Player" : "Players"
						return "<a href='https://www.espn.com/nfl/team/depth/_/name/"+value+"' target='_blank'>"+value+"</a>" + "<span style='color:black; margin-left:10px;'>(" + count + " "+playerTxt+")</span>";
					},
					initialSort: [
						{column: "totalOver", dir: "desc"},
						{column: "totalOverLast5", dir: "desc"},
						//{column: "team", dir: "asc"},
					],
					columns: [
                        {formatter:"rowSelection", hozAlign:"center", headerSort:false, cellClick:function(e, cell){
                            cell.getRow().toggleSelect();
                        }},
						{title: "Player", field: "player", headerFilter: "input"},
						{title: "Avg Min", field: "avgMin", hozAlign: "center", width: 70},
						{title: "Team", field: "team", width: "80", hozAlign: "center", formatter: teamFormatter, editor: "input", headerFilter: "select", headerFilterPlaceholder:"All", headerFilterFunc: teamFilter, headerFilterParams:{values: teamNames}},
						{title: "Opp", field: "opponent", width: "80", hozAlign: "center", formatter: teamFormatter, editor: "input", headerFilter: "select", headerFilterPlaceholder:"All", headerFilterFunc: teamFilter, headerFilterParams:{values: teamNames}},
						//{title: "Scored", field: "scored", formatter: scoredFormatter, hozAlign: "center"},
						{title: "Prop", field: "propType", formatter: propFormatter, hozAlign: "center"},
						{title: "Line", field: "line", hozAlign: "center"},
						{title: "SZN AVG", field: "avg", hozAlign: "center", width: 80},
						{title: "Last YR AVG", field: "lastAvg", hozAlign: "center", width: 80},
						//{title: "Proj", field: "proj", hozAlign: "center", width: 80},
						/*
						{title: "", field: "diffAvg", hozAlign: "center", visible: true},
						{title: "", field: "diff", hozAlign: "center", visible: true},
						*/
						{title: "", field: "diffAbs", hozAlign: "center", visible: false},
						{title: "Total Over", field: "totalOver", width: 80, hozAlign: "center", formatter: percentFormatter, sorter: "number"},
						{title: "L5 Total Over", field: "totalOverLast5", width: 80, hozAlign: "center", formatter: percentFormatter, sorter: "number"},
						{title: "Last", field: "last5", hozAlign: "center"},
						{title: "Last YR Total Over", field: "lastTotalOver", width: 80, hozAlign: "center", formatter: percentFormatter},
						//{title: "Games Over", field: "over", formatter: overFormatter, hozAlign: "center"},
						//{title: "Last Game", field: "lastOver", formatter: lastOverFormatter, hozAlign: "center"},
						{title: "Over", field: "overOdds", hozAlign: "center", sorter: "number"},
						{title: "Under", field: "underOdds", hozAlign: "center", sorter: "number"},
					]
				})
			}

			renderTable();

			//TABLE.setFilter("propType", "=", "3ptm");
			TABLE.setFilter([
				//{field:"avgMin", type:">=", value:5},
				//{field:"line", type:">", value:1},
				
                //{field:"propType", type:"!=", value:"goals"},
                {field:"propType", type:"=", value:"pts"},
			]);
		</script>
		{% if prop != "" %}
			<script>
				TABLE.setFilter([{field:"propType", type:"=", value:"{{prop}}"}]);
			</script>
		{% endif %}
	</body>

</html>