<!DOCTYPE html>
<html>
	<head>
		<title>Props</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="/static/css/teams.css" type="text/css">
		<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.min.js"></script>
		<link href="https://unpkg.com/tabulator-tables@4.9.3/dist/css/tabulator.min.css" rel="stylesheet">
	</head>
	<style>
		body {
			margin: 0;
			font-size: 18px;
			height: 100vh;
		}
		#propsTable {
			width: 90%;
		}
		#tableDiv {
			display: flex;
			justify-content: center;
			height: 85%;
		}
		#header {
			height: 7.5%;
		}
		#footer {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.negative { color: red; }
		.positive { color: green; }
	</style>
	<body>
		<div id="header">
		</div>
		<div id="tableDiv">
			<div id="propsTable">
				<!-- {{table|safe}} -->
			</div>
		</div>
		<div id="footer">
			<button onclick="save();">Save Favorites</button>
		</div>
		<script>
			const CURR_WEEK = {{curr_week}};
			let TABLE;
			const teamNames = ["All", "ARI", "ATL", "BAL", "BUF", "CAR", "CHI", "CIN", "CLE", "DAL", "DEN", "DET", "GB", "HOU", "IND", "JAX", "KC", "LAC", "LAR", "LV", "MIA", "MIN", "NO", "NE", "NYG", "NYJ", "PHI", "PIT", "SEA", "SF", "TB", "TEN", "WAS"];

			function save() {
				const args = [];
				for (row of TABLE.getSelectedRows()) {
					const data = row.getData();
					args.push(data.player+"*"+data.propType);
				}
				var xhttp = new XMLHttpRequest();
				xhttp.onreadystatechange = function() {
					if (this.readyState === 4 && this.status === 200) {
						var j = JSON.parse(this.responseText);

					}
				};
				var url = "/props?favorites="+args.join(";");
				xhttp.open("POST", url);
				xhttp.send();
			}

			function teamFilter(headerValue, rowValue, rowData, filterParams){
				if (headerValue == "All") {
					return true;
				}
				return rowValue.toUpperCase() == headerValue;
			}

			const percentFormatter = function(cell, params, rendered) {
				const div = document.createElement("div");
				div.className = "trendCell";

				let val = "-";
				if (parseInt(cell.getValue()) != 0) {
					val = cell.getValue().toFixed(1)+"%";
				}

				const valDiv = document.createElement("div");
				valDiv.style["font-weight"] = "bold";
				valDiv.innerText = val;
				div.appendChild(valDiv);

				if (val != "-") {
					const trend = getTrend(cell.getField(), cell.getRow().getData(),percent=true);
					div.appendChild(trend);
				}
				
				return div;
			}

			const decimalFormatter = function(cell, params, rendered) {
				const div = document.createElement("div");
				div.className = "trendCell";
				const val = cell.getValue().toFixed(1);
				const trend = getTrend(cell.getField(), cell.getRow().getData(),percent=true);

				const valDiv = document.createElement("div");
				valDiv.style["font-weight"] = "bold";
				valDiv.innerText = val;
				div.appendChild(valDiv);
				div.appendChild(trend);
				return div;
			}

			const teamFormatter = function(cell, params, rendered) {
				const div = document.createElement("div");
				div.className = cell.getValue().toLowerCase();
				div.innerText = cell.getValue().toUpperCase();
				return div;
			}

			const oddsFormatter = function(cell, params, rendered) {
				const data = cell.getRow().getData();
				let t = data.sideOneType;
				let odds = data.sideOneOdds;
				if (cell.getField() == "odds2") {
					t = data.sideTwoType;
					odds = data.sideTwoOdds;
				}
				if (odds.substring(0, 1) != "-") {
					odds = "+"+odds;
				}
				return t+" ("+odds+")";
			}

			const propFormatter = function(cell, params, rendered) {
				let prop = cell.getValue();
				if (prop == "recv_yd") return "REC YDs";
				else if (prop == "recv_rec") return "RECs";
				else if (prop == "rush_att") return "RUSHs";
				else if (prop == "rush_recv_yd") return "RUSH+REC YDs";
				else if (prop == "rush_yd") return "RUSH YDs";
				else if (prop == "pass_att") return "ATTEMPS";
				else if (prop == "pass_comp") return "COMPs";
				else if (prop == "pass_int") return "INTs";
				else if (prop == "pass_td") return "PASS TDs";
				else if (prop == "pass_yd") return "PASS YDs";
				else if (prop == "recv_rec") return "REC";
				return prop;
			}

			function convertType(type) {
				if (type == "pass_comp") return "pass_cmp";
				else if (type == "recv_rec") return "rec";
				else if (type == "recv_yd") return "rec_yds";
				else if (type == "pass_comp") return "pass_cmp";
				else if (type == "pass_yd") return "pass_yds";
				else if (type == "rush_yd") return "rush_yds";
				return type;
			}

			const avgFormatter = function(cell, params, rendered) {
				const data = cell.getRow().getData();
				const stats = data.stats;
				const propType = data.propType;
				if (stats.tot && stats.tot.gamesPlayed) {
					let avg = 0;
					let gamesPlayed = 0;
					for (wk in stats) {
						if (wk != "tot" && parseInt(wk.substring(2)) <= CURR_WEEK) {
							gamesPlayed += 1;
							if (propType == "rush_recv_yd") {
								avg += stats[wk].rush_yds + stats[wk].rec_yds;
							} else {
								avg += stats[wk][convertType(propType)];
							}
						}
					}
					avg = (avg / gamesPlayed).toFixed(1);
					if (avg >= parseFloat(data.line)) {
						return "<div class='positive'>"+avg+"</div>";
					}
					return "<div class='negative'>"+avg+"</div>";
				}
				return "-";
			}

			const overFormatter = function(cell, params, rendered) {
				const data = cell.getRow().getData();
				const stats = data.stats;
				const propType = data.propType;
				if (stats.tot && stats.tot.gamesPlayed) {
					let gamesOver = 0;
					let gamesPlayed = 0;
					for (wk in stats) {
						if (wk != "tot" && parseInt(wk.substring(2)) <= CURR_WEEK) {
							let val = 0;
							gamesPlayed += 1;
							if (propType == "rush_recv_yd") {
								val = stats[wk].rush_yds + stats[wk].rec_yds;
							} else {
								val = stats[wk][convertType(propType)];
							}
							if (val >= parseFloat(data.line)) {
								gamesOver += 1;
							}
						}
					}
					const over = ((gamesOver / gamesPlayed) * 100).toFixed(0);
					if (over >= 50) {
						return "<div class='positive'>"+over+"%</div>";
					}
					return "<div class='negative'>"+over+"%</div>";
				}
				return "-";
			}

			const lastOverFormatter = function(cell, params, rendered) {
				const data = cell.getRow().getData();
				const stats = data.stats;
				const propType = data.propType;
				if (stats.tot && stats.tot.gamesPlayed && stats["wk"+CURR_WEEK]) {
					let val = 0;
					if (propType == "rush_recv_yd") {
						val = stats["wk"+CURR_WEEK].rush_yds + stats["wk"+CURR_WEEK].rec_yds;
					} else {
						val = stats["wk"+CURR_WEEK][convertType(propType)];
					}
					if (val >= parseFloat(data.line)) {
						return "<div class='positive'>Yes</div>";
					}
					return "<div class='negative'>No</div>";
				}
				return "-";
			}

			const scoredFormatter = function(cell, params, rendered) {
				const data = cell.getRow().getData();
				const stats = data.stats;
				const propType = data.propType;
				if (stats.tot && stats["wk"+(CURR_WEEK+1)] && stats["wk"+(CURR_WEEK+1)]["snap_counts"]) {
					let scored = 0;
					if (propType == "rush_recv_yd") {
						scored = stats["wk"+(CURR_WEEK+1)].rush_yds + stats["wk"+(CURR_WEEK+1)].rec_yds;
					} else {
						scored = stats["wk"+(CURR_WEEK+1)][convertType(propType)];
					}
					if (!scored) {
						scored = 0;
					}
					if (scored > parseFloat(data.line)) {
						return "<div class='positive'>"+scored+"</div>";
					}
					return "<div class='negative'>"+scored+"</div>";
				}
				return "-";
			}

			function renderTable() {
				TABLE = new Tabulator("#propsTable", {
					tooltipsHeader: true,
					ajaxURL: "/getProps",
					//layout: window.innerWidth <= 450 ? "fitData" : "fitColumns",
					groupBy: "team",
					groupHeader: function(value, count, data, group){
						const playerTxt = count == 1 ? "Player" : "Players"
						return value + "<span style='color:black; margin-left:10px;'>(" + count + " "+playerTxt+")</span>";
					},
					initialSort: [
						{column: "player", dir: "asc"},
						{column: "team", dir: "asc"}
					],
					columns: [
						{formatter:"rowSelection", hozAlign:"center", headerSort:false, cellClick:function(e, cell){
							cell.getRow().toggleSelect();
						}},
						{title: "Player", field: "player", headerFilter: "input"},
						{title: "Team", field: "team", width: "80", hozAlign: "center", formatter: teamFormatter, editor: "input", headerFilter: "select", headerFilterPlaceholder:"All", headerFilterFunc: teamFilter, headerFilterParams:{values: teamNames}},
						{title: "Opp", field: "opponent", width: "80", hozAlign: "center", formatter: teamFormatter, editor: "input", headerFilter: "select", headerFilterPlaceholder:"All", headerFilterFunc: teamFilter, headerFilterParams:{values: teamNames}},
						{title: "Scored", field: "scored", formatter: scoredFormatter, hozAlign: "center"},
						{title: "Line", field: "line", hozAlign: "center"},
						{title: "Prop", field: "propType", formatter: propFormatter},
						{title: "SZN AVG", field: "avg", formatter: avgFormatter, hozAlign: "center"},
						{title: "Games Over", field: "over", formatter: overFormatter, hozAlign: "center"},
						{title: "Last Game", field: "lastOver", formatter: lastOverFormatter, hozAlign: "center"},
						{title: "", field: "odds1", formatter: oddsFormatter},
						{title: "", field: "odds2", formatter: oddsFormatter},
					]
				})
			}

			renderTable();

			setTimeout(function() {
				//console.log(TABLE.getRows()[0].getElement().getElementsByTagName("input")[0]);
				//TABLE.getRows()[0].getCells()[0].click()
			}, 500);
		</script>

	</body>

</html>